extends layout

block content
  h1 #{title.name}
  h3 Title Info
  ul
    li= 'isbn: ' + title.isbn
    li= 'rating: ' + title.rating + '/100'
    li= 'published: ' + title.published_date
    li= 'genre_list: ' + title.genre_list
    if title.author_list
      li= 'author_list: ' + title.author_list
  
  h3 Sellers
  table.pure-table.pure-table-bordered
    tr
      th book_id
      th condition
      th published_by
      th vendor
      th price
      if !admin && id
        th
    each seller, i in sellers
      tr
        td= seller.book_id
        td= seller.condition
        td= seller.published_by
        td: a(href='/vendor/'+seller.vendor_id + loginInfo) #{seller.vendor}
        td= seller.price
        if id && !admin
          td
            form(action='/cart/add' method='POST')
              input(type='hidden' name='book_id' value=seller.book_id)
              input(type='hidden' name='customer_id' value=id)
              input(type='hidden' name='loginInfo' value=loginInfo)
              button Add to Cart!
