extends layout

block content
  h1 Titles
  if admin
    form(action='/titles/add' method='POST')
      input(type='text' name='isbn' placeholder='ISBN')
      input(type='text' name='name' placeholder='Name')
      input(type='text' name='published_date' placeholder='Published Date')
      br
      input(type='text' name='rating' placeholder='Rating')
      input(type='text' name='genre_list' placeholder='genre list')
      input(type='text' name='author_list' placeholder='author_id list')
      input(type='hidden' name='loginInfo' value=loginInfo)
      input(type='submit' value='Add')
    br
  table.pure-table.pure-table-bordered
    tr
      th Title
      th Genres
      th Authors
      th Rating
      th Price
      if admin
        th
      
    each title, i in titles
      tr
        td: a(href='/title/' + title.isbn + loginInfo) #{title.name}
        td= title.genre_list
        td= title.author_list
        td= title.rating
        td= title.price
        if id && admin
          td
            form(action='/titles/remove' method='POST')
              input(type='hidden' name='isbn' value=title.isbn)
              input(type='hidden' name='loginInfo' value=loginInfo)
              button Remove
